<ion-view view-title="Parking-Cluj">
  <ion-content class="padding">

      <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

      <div class="list card">

        <div class="item">
          <h2>Parcare Evozon</h2>
          <p>Calea Motilor, nr. 62</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="13405487_1180024355364046_1853369658_o.jpg">
          <h3>About the parking space</h3>
          <p>This is a parking for the awesome people who work at Evozon.</p>
          <p>Maximum Vehicle Height Restriction: No limit.</p>
          <h3>Hours of operations</h3>
          <p>Monday-Sunday: 7:00 AM - 11:59 PM</p>
          <h3>Amenities</h3>
          <p>Overnight Parkking</p>
          <p>Covered Parking</p>
          <p>Electric Vehicle Charging</p>
        </div>

      </div>
  </ion-content>
</ion-view>