<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Main" icon="ion-home" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Register" icon="ion-nuclear" href="#/tab/register">
    <ion-nav-view name="tab-register"></ion-nav-view>
  </ion-tab>

</ion-tabs>
